@import '../scss/common';

.sheet {
  margin-top: -3rem;
}

.sheet__brand {
  white-space: nowrap;
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 0;
}

.sheet__header {
  overflow-x: scroll;
}

.sheet__tabs {
  flex-grow: 1;
  flex-wrap: nowrap !important;
  z-index: 10000;

  .nav-item {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  .nav-link {
    display: flex;
    align-items: center;
    height: 88px;
    min-width: 120px;
    max-width: 300px;
    background-color: #fafafa;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-top-color: #dee2e6;
    border-left-color: #dee2e6;
    border-right-color: #dee2e6;
    border-bottom-color: #dee2e6;
    h4 {
      text-align: center;
      width: 100%;
    }
  }
}

@include media-breakpoint-down(xl) {
  .sheet__tabs {
    .nav-link h4 {
      font-size: 1.25rem;
    }
  }
}

@include media-breakpoint-down(lg) {
  .sheet__brand {
    border-bottom: 0;
    margin-bottom: 1rem;
    img {
      width: 24px;
      height: 24px;
    }
    font-size: 1.25rem;
  }

  .sheet__header {
    flex-wrap: wrap;
  }

  .sheet__tabs {
    .nav-link h4 {
      font-size: 1rem;
    }
  }
}

@include media-breakpoint-down(sm) {
  .sheet__header {
    flex-shrink: 0;
    width: 100%;
    margin-bottom: 1rem;
  }
}

.sheet__footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  padding-bottom: 2rem;
  text-align: center;
}

.sheet__button {
  transform: scale(1.5);
  min-width: 160px;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.sheet__table {
  td {
    vertical-align: middle;
    &:first-child {
      font-weight: bold;
    }
  }
}
